{% extends "base.html" %}
{% load static %}
{% block title %}Регистрация{% endblock %}

{% block content %}
    <div class="container my-4">
        <div class="card mx-auto" style="max-width: 400px;">
            <div class="card-body d-flex flex-column align-items-center">
                <img src="{% static '/image/FORUM@2x.png' %}" alt="Логотип" style="height: 250px;">
                <form method="post" class="w-100">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-danger w-100 font-weight-bold" type="submit">Sign Up</button>
                </form>
                <div class="container border border-lightgrey justify-content-md-center p-3 text-center mt-2">
                    Have an account? <a href="{% url 'accounts:login' %}" class="font-weight-bold">Log in</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}